{% extends 'base.html' %}
{% block content %}
  <div class="card ms-5"  style="width: 70%;">
    <div class="card-header text-center" style="background-color: #F1A661">
      <strong>Reply</strong>
    </div>
    <div class="card-body" style="background-color: #FDEEDC">
      <div class="form-group">
        <form method="post">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p}}
          <button class="btn btn-secondary">Reply</button>
        </form><br>
        <a href="{% url 'posts' %}"><button class="btn btn-secondary">Back</button></a>
      </div>
    </div>
  </div>
{% endblock  %}
