{% load poll_extras %}
<nav class="navbar navbar-expand-lg" style="background-color: #FCE0CB">
  <div class="container-fluid">
    {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
    {% load static %} <img src="{% static "UserApp/media/blod_logo.png" %}" alt="home" class="logo" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated%}
          {% comment %} <li class="nav-item">
            <strong class="my-5">{{request.user.username}}</strong>
          </li> {% endcomment %}
          {% if request.user|is_user or request.user|is_admin%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'add_post' %}>Add Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'posts' %}>Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'edit_user' %}>Edit User</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'signout' %}>Signout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'signin' %}>Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'signup' %}>Signup</a>
          </li>
        {% endif %}
      </ul>
      <h4>{{request.user.username}}</h4>
    </div>
  </div>
</nav>
