{% extends 'base.html' %}
{% block content %}
  <div class="card ms-5"  style="width: 70%;">
    <div class="card-header text-center" >
      <strong>Add new Post</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <form method="post">
          {% csrf_token %}
          {{form.media}}
          {{ form.as_p}}
          <button class="btn btn-secondary">Post</button>
          <button class="btn btn-secondary"><a href="{% url 'posts' %}">Back</a></button>
      </div>
    </div>
  </div>
{% endblock  %}
