{% extends 'base.html' %}
{% load poll_extras %}
{% block content %}
<div class="row">
  <div class="col-8">
    {% if object_list|count_approved == 0 %}
      <p>No posts yet</p>
    {% else %}
    {% for post in object_list %}
      {% if post|is_approved %}
      <div class="card m-3">
        <div class='card-header' style="background-color: #F1A661">
          <h3>{{ post.title }}</h3><hr>
          <small>by {{post.author}}</small>
        </div>
        <div class='card-body' style="background-color: #FDEEDC">
          <p>{{post.content|safe}}</p>
          {% if request.user|is_author_of_post:post or request.user|is_admin%}
          <small>
            <a href="{% url 'update_post' post.pk %}"><button class='btn btn-secondary'>Edit</button> </a>
            <a href="{% url 'delete_post' post.pk %}"><button class='btn btn-secondary'>Delete </button></a>
          </small>
          {% endif %}
          <small>
            <a class="link" href="{% url 'post_detail' post.pk %}"><button class="btn btn-secondary">view</button></a>
          </small>
        </div>
      </div>
      {% endif %}
    {% empty %}
    <p>No posts yet</p>
    {% endfor %}
    {% endif %}
  </div>
  <div class='col-4'>
    <div class="card m-3">
      <div class="card-header" style="background-color: #F1A661">
        <h3>suggestions</h3>
      </div>
      <div class="card-body" style="background-color: #FDEEDC">
        {% if request.user.suggestion %}
        {% for suggestion in request.user.suggestion.all %}
        <div class='card m-3'>
          <div class='card-body'>
            <strong>{{suggestion.suggestor}} - {{suggestion.date_added}}</strong><br>
            <p>{{suggestion.body}}</p>
            {% if request.user|is_author_of_post:post %}
            <a href="{% url 'delete_suggestion' suggestion.pk%}"><button class='btn btn-secondary justify-content-end'>Reject</button></a>
            <a href="{% url 'update_post' post.pk%}"><button class='btn btn-secondary justify-content-end'>Resolve</button></a>
            {% endif %}
            <a href="{% url 'reply_suggestion' suggestion.pk%}"><button class='btn btn-secondary justify-content-end'>Reply</button></a>
            {% if suggestion.replies.count != 0 %}
              <div class="card m-2">
                <div class='card-header'><h6>Replies</h6></div>
                <div class="card-body">
                  {% for reply in suggestion.replies.all %}
                    <small>
                      <strong>{{reply.replier}} - {{reply.date_added}}</strong><br>
                      <p>
                        {{reply.body|safe}}
                      </p>
                    </small>
                    <hr>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
